# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.env

# Trained model artifacts
models/

# Kaggle datasets
~/.cache/kagglehub/

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# IDE
.vscode/
.idea/

.DS_Store

